@use '../abstracts/mixins' as *;

.about {
	padding: 10rem 2rem;
	background: var(--clr-primary-100);
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	@include mq(small) {
		@include flex(initial, space-between);
	}

	&__lines {
		width: 100%;
		position: absolute;
		top: 0;
	}

	&__large-image {
		max-width: initial;
		width: 100%;
		margin: 3rem 0;

		// @include mq(small) {
		// 	width: calc(30vw + 1rem);
		// }
	}

	&__small-image {
		display: none;
		z-index: 2;

		@include mq(small) {
			display: block;
		}
	}

	&__title {
		@media screen and (max-width: 640px) {
			width: min-content;
		}

		@include mq(small) {
			position: absolute;
			top: 2rem;
			right: -60%;
		}

		& > h2 {
			color: var(--clr-secondary-100);
			text-transform: uppercase;
			line-height: 1;
		}

		& > h2:nth-child(2) {
			text-align: right;
			@include mq(small) {
				color: var(--clr-light-100);
			}
		}
	}

	& > div:nth-child(1) {
		position: relative;
		flex-basis: 30%;
		z-index: 2;
	}

	&__text {
		flex-basis: 30%;
		color: var(--clr-light-100);
		align-self: flex-end;
		position: relative;
		z-index: 2;

		@include mq(medium) {
			flex-basis: 25%;
		}

		& > img {
			position: absolute;
			top: 0;
			right: 9rem;

			@include mq(small) {
				display: none;
			}
		}

		& > p {
			@media screen and (max-width: 640px) {
				width: 80%;
			}
		}
	}

	& > div:nth-child(3) {
		flex-basis: 18%;
	}

	&__secondary-image {
		position: relative;
		@include flex(center, space-between);
		flex-direction: column;

		&--button {
			display: none;

			@include mq(medium) {
				display: block;
			}
		}

		& > img:nth-child(1) {
			position: absolute;
			top: -6rem;
			left: -5rem;
			display: none;

			@include mq(small) {
				display: block;
			}
		}
	}
}
