@use '../abstracts/mixins' as *;

.hero {
	background: var(--clr-primary-100);
	@include flex(center, center);
	flex-direction: column;

	@include mq(small) {
		@include flex(center, space-between);
		flex-direction: row;
	}

	&__title {
		@include flex(center, center);

		@include mq(small) {
			justify-content: start;
		}

		& > h1:last-child {
			color: var(--clr-secondary-100);
		}
	}

	&__tags {
		color: var(--clr-secondary-100);
		font-family: inherit;
		text-transform: uppercase;
		margin-bottom: 2rem;
		font-size: var(--fs-200);

		@include mq(small) {
			font-size: initial;
		}
	}

	&__text {
		color: var(--clr-light-100);
		width: 32ch;
		text-align: center;
		margin-top: 1rem;

		@include mq(small) {
			width: auto;
			text-align: initial;
		}
	}

	&__text-content {
		flex-basis: 30%;
		order: 1;

		@include mq(medium) {
			order: 0;
		}

		& > .line-rule {
			background: var(--clr-light-300);
			width: 55%;
			height: 0.2rem;

			@include mq(small) {
				display: none;
			}
		}
	}

	& > button {
		display: none;

		@include mq(small) {
			display: block;
		}
	}
}
