body::-webkit-scrollbar {
	width: 1rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-text-300); /* color of the scroll thumb */
}
